.navbar {
    background: #000 !important;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .nav-item:hover {
    color: red;
  }